<div class="resource flex-group-center balance wolf-resource no-border">
    <div class="harano">
        <label
            for="actor.system.balance.harano"
            class="resource-label system-rollable harano-roll"
        >    
            {{localize "WOD5E.WTA.Harano"}}
        </label>
        <div class="resource-content flexrow flex-center flex-between">
            <div class="resource-value" data-value="{{actor.system.balance.harano.value}}" data-name="system.balance.harano.value">
                <span class="resource-value-empty harano-value"></span>
                {{#numLoop 5}}
                <span class="resource-value-step harano-value" data-index="{{this}}"></span>
                {{/numLoop}}
            </div>
        </div>
    </div>
    <div class="hauglosk">
        <label
            for="actor.system.balance.hauglosk"
            class="resource-label system-rollable hauglosk-roll"
        >    
            {{localize "WOD5E.WTA.Hauglosk"}}
        </label>
        <div class="resource-content flexrow flex-center flex-between">
            <div class="resource-value" data-value="{{actor.system.balance.hauglosk.value}}" data-name="system.balance.hauglosk.value">
                <span class="resource-value-empty hauglosk-value"></span>
                {{#numLoop 5}}
                <span class="resource-value-step hauglosk-value" data-index="{{this}}"></span>
                {{/numLoop}}
            </div>
        </div>
    </div>
</div>