<div class="tab wolf flex-center" data-group="primary" data-tab="wolf">
    <div class="resource flexrow grid grid-4col">
        {{> "systems/vtm5e/templates/actor/parts/werewolf/balance.hbs"}}
        
        <div class="flex-group-center flexcol wolf-resource no-border">
            <label class="resource-label">{{localize "WOD5E.WTA.Patron"}}</label>
            <input type="text" name="system.headers.patron" value="{{actor.system.headers.patron}}" placeholder="{{localize "WOD5E.WTA.Patron"}}" />
        </div>

        <div class="flex-group-center flexcol wolf-resource no-border">
            <label class="resource-label">{{localize "WOD5E.WTA.Favor"}}</label>
            <input type="text" name="system.headers.favor" value="{{actor.system.headers.favor}}" placeholder="{{localize "WOD5E.WTA.Favor"}}" />
        </div>

        <div class="flex-group-center flexcol wolf-resource no-border">
            <label class="resource-label">{{localize "WOD5E.WTA.Ban"}}</label>
            <input type="text" name="system.headers.ban" value="{{actor.system.headers.ban}}" placeholder="{{localize "WOD5E.WTA.Ban"}}" />
        </div>
    </div>
    {{> "systems/vtm5e/templates/actor/parts/werewolf/forms.hbs"}}
</div>