<div class="tab flex-center" data-group="primary" data-tab="stats">
    <label class="resource-label">{{localize "WOD5E.Attributes.Attributes"}}</label>
    <div class="abilities grid grid-3col flex-group-center">
        {{#each actor.system.abilities as |ability key|}}
            <div class="ability flexrow flex-center">
                <label for="actor.system.abilities.{{key}}.value" class="resource-label rollable" data-value-paths="abilities.{{key}}.value" data-select-dialog="true"
                    data-label="{{localize ability.name}}" data-selectors="abilities abilities.{{key}}" data-attribute="{{key}}">{{localize ability.name}}</label>
                <div class="resource-value" data-value="{{ability.value}}" data-name="system.abilities.{{key}}.value">
                    <span class="resource-value-empty"></span>
                    {{#numLoop 5}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                    {{/numLoop}}
                </div>
            </div>
        {{/each}}
    </div>

    <label class="resource-label">{{localize "WOD5E.Skills.Skills"}}</label>
    <div class="skills grid grid-3col flex-group-center">
        {{#each actor.system.skills as |skill key|}}
        <div class="skill flexrow flex-center">
            <div class="resource-label">
                <a class="edit-skill" title="Edit skill" data-skill="{{key}}">
                    <i class="fas fa-edit"></i>
                </a>
                <label for="actor.system.skills.{{key}}.value" class="rollable{{#if skill.bonuses}} specialty-available{{/if}}" data-value-paths="skills.{{key}}.value"
                data-label="{{localize skill.name}}" data-selectors="skills skills.{{key}}" data-skill="{{key}}" data-select-dialog="true"
                data-use-flavor-path="true" data-flavor-path="skills.{{key}}.description">{{localize skill.name}}</label>
                {{#if skill.bonuses}}
                    <label class="specialty" title="Specialties:{{#each skill.bonuses as |bonus key|}} {{bonus.source}}{{#unless @last}},{{/unless}}{{/each}}">S</label>
                {{/if}}
            </div>
            <div class="resource-value" data-value="{{skill.value}}" data-name="system.skills.{{key}}.value">
                <span class="resource-value-empty"></span>
                {{#numLoop 5}}
                    <span class="resource-value-step" data-index="{{this}}"></span>
                {{/numLoop}}
            </div>
        </div>
        {{/each}}
    </div>

    <label class="resource-label">{{localize "WOD5E.Items.CustomRolls"}}</label>
    <ol class="items-list flex-left">
        <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "WOD5E.Name"}}</div>
            <div class="item-name">{{localize "WOD5E.Attributes.Label"}}</div>
            <div class="item-name">{{localize "WOD5E.Skills.Label"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" title="{{localize 'WOD5E.Add'}}"
                    data-type="customRoll"><i class="fas fa-plus"></i> {{localize "WOD5E.Add"}}
                </a>
            </div>
        </li>
        {{#each actor.customRolls as |roll id|}}
            <li class="item flexrow" data-item-id="{{roll._id}}">
                <div class="item-image rollable" data-value-paths="abilities.{{roll.system.dice1}}.value skills.{{roll.system.dice2}}.value"
                    data-name="{{roll.name}}" data-label="{{roll.name}}" data-use-flavor-path="true" data-flavor-path="description" data-item-id="{{roll._id}}"
                    data-selectors="abilities abilities.{{roll.system.dice1}} skills skills.{{roll.system.dice2}}" data-skill="{{roll.system.dice2}}"
                    data-attribute="{{roll.system.dice1}}">
                    <img src="{{roll.img}}" title="{{roll.name}}" width="24" height="24" alt="{{roll.name}}" />
                </div>
                <h4 class="item-name">{{roll.name}}</h4>
                <h4 class="item-name">{{localize (generateLocalizedLabel roll.system.dice1)}}</h4>
                <h4 class="item-name">{{localize (generateLocalizedLabel roll.system.dice2)}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'WOD5E.Edit'}}"><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'WOD5E.Delete'}}"><i
                            class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </ol>
</div>