<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} cell-sheet" autocomplete="off">
  {{!-- Cell Sheet Header --}}
  <header class="actor-header">
    <div class="header-fields-top">
      <div class="header-profile-img">
        {{!-- Actor image and sheet lock toggle button --}}
        {{> "systems/vtm5e/templates/actor/parts/profile-img.hbs"}}
      </div>
      <div class="header-rows-top">
        <div class="header-row-1">
          {{!-- Text input header fields --}}
          <h1 class="charname">
            <input class="no-border" name="name" type="text" value="{{actor.name}}"
              placeholder="{{localize 'WOD5E.Name'}}" />
          </h1>
            
          {{> "systems/vtm5e/templates/actor/parts/group/type-selector.hbs"}}
        </div>
        <div class="header-row-2">
          {{> "systems/vtm5e/templates/actor/parts/hunter/desperation.hbs"}}

          {{> "systems/vtm5e/templates/actor/parts/hunter/danger.hbs"}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Cell Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <div class="item" data-tab="members">{{localize "WOD5E.Tabs.Members"}}</div>
    <div class="item" data-tab="features">{{localize "WOD5E.Tabs.Features"}}</div>
    <div class="item" data-tab="description">{{localize "WOD5E.Tabs.Description"}}</div>
    <div class="item" data-tab="other">{{localize "WOD5E.Tabs.Other"}}</div>
  </nav>

  {{!-- Cell Sheet Body --}}
  <section class="sheet-body">
    {{!-- Group Members Tab --}}
    {{> "systems/vtm5e/templates/actor/parts/group/group-members.hbs"}}

    {{!-- Shared Features Tab --}}
    {{> "systems/vtm5e/templates/actor/parts/features.hbs"}}

    {{!-- Description Tab --}}
    {{> "systems/vtm5e/templates/actor/parts/group/description.hbs"}}

    {{!-- Other Tab --}}
    {{> "systems/vtm5e/templates/actor/parts/other.hbs"}}
  </section>
</form>

