<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} hunter-sheet" autocomplete="off">
    {{!-- Actor Type Banner --}}
    {{#if displayBanner}}
    <div class="sheet-banner">
      <h1>{{ sheetType }}</h1>
    </div>
    {{/if}}

    {{!-- Hunter Sheet Header --}}
    <header class="actor-header">
        <div class="header-fields-top">
            <div class="header-profile-img">
                {{!-- Actor image and sheet lock toggle button --}}
                {{> "systems/vtm5e/templates/actor/parts/profile-img.hbs"}}
            </div>
            <div class="header-rows-top">
                <div class="header-row-1">
                    {{!-- Text input header fields --}}
                    <h1 class="charname"><input class="no-border" name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize 'WOD5E.Name'}}" /></h1>

                    <h1 class="charname"><input class="no-border" name="system.headers.cellname" type="text" value="{{actor.system.headers.cellname}}"
                    placeholder="{{localize 'WOD5E.Cell'}}" /></h1>

                    <h1 class="charname"><input class="no-border" name="system.headers.creed" type="text" value="{{actor.system.headers.creed}}"
                        placeholder="{{localize 'WOD5E.Creed'}}" /></h1>

                    <h1 class="charname"><input class="no-border" name="system.headers.drive" type="text" value="{{actor.system.headers.drive}}"
                        placeholder="{{localize 'WOD5E.HunterDrive'}}" /></h1>
                </div>
                <div class="header-row-2">
                    {{!-- Health Tracker --}}
                    {{> "systems/vtm5e/templates/actor/parts/health.hbs"}}

                    {{!-- Willpower Tracker --}}
                    {{> "systems/vtm5e/templates/actor/parts/willpower.hbs"}}

                    {{!-- XP Tracker --}}
                    {{> "systems/vtm5e/templates/actor/parts/exp.hbs"}}

                    {{> "systems/vtm5e/templates/actor/parts/hunter/despair.hbs"}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Hunter Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="stats">{{localize "WOD5E.Stats"}}</div>
        <div class="item" data-tab="edges">{{localize "WOD5E.Edges"}}</div>
        <div class="item" data-tab="features">{{localize "WOD5E.Features"}}</div>
        <div class="item" data-tab="description">{{localize "WOD5E.Description"}}</div>
        <div class="item" data-tab="other">{{localize "WOD5E.Other"}}</div>
    </nav>

    {{!-- Hunter Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stats Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/stats.hbs"}}

        {{!-- Edges Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/hunter/edges.hbs"}}

        {{!-- Owned Features Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/features.hbs"}}

        {{!-- Biography Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/biography.hbs"}}

        {{!-- Other Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/other.hbs"}}
    </section>
</form>
