<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} werewolf-sheet" autocomplete="off">
  {{!-- Actor Type Banner --}}
  {{#if displayBanner}}
  <div class="sheet-banner">
    <h1>{{localize "WOD5E.WTA.Label"}}</h1>
  </div>
  {{/if}}

  {{!-- Werewolf Sheet Header --}}
  <header class="actor-header">
      <div class="header-fields-top">
        <div class="header-profile-img">
            {{!-- Actor image and sheet lock toggle button --}}
            {{> "systems/vtm5e/templates/actor/parts/profile-img.hbs"}}
        </div>
        <div class="header-rows-top">
            <div class="header-row-1">
                {{!-- Text input header fields --}}
                <h1 class="charname"><input class="no-border" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'WOD5E.Name'}}" /></h1>
                <h1 class="charname"><input class="no-border" name="system.headers.tribe" type="text" value="{{actor.system.headers.tribe}}" placeholder="{{localize 'WOD5E.WTA.Tribe'}}" /></h1>
                <h1 class="charname"><input class="no-border" name="system.headers.auspice" type="text" value="{{actor.system.headers.auspice}}" placeholder="{{localize 'WOD5E.WTA.Auspice'}}" /></h1>
            </div>
            <div class="header-row-2">
                {{!-- Health Tracker --}}
                {{> "systems/vtm5e/templates/actor/parts/health.hbs"}}

                {{!-- Willpower Tracker --}}
                {{> "systems/vtm5e/templates/actor/parts/willpower.hbs"}}

                {{!-- XP Tracker --}}
                {{> "systems/vtm5e/templates/actor/parts/exp.hbs"}}

                {{!-- Anything more that needs to be in the header spot --}}
                {{> "systems/vtm5e/templates/actor/parts/werewolf/rage-value.hbs"}}

                {{> "systems/vtm5e/templates/actor/parts/werewolf/rage-button.hbs"}}

                {{> "systems/vtm5e/templates/actor/parts/werewolf/frenzy.hbs"}}
            </div>
        </div>
    </div>
  </header>

  {{!-- Werewolf Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
      <div class="item" data-tab="stats">{{localize "WOD5E.Tabs.Stats"}}</div>
      <div class="item" data-tab="gifts-rites">{{localize "WOD5E.WTA.GiftsandRites"}}</div>
      <div class="item" data-tab="features">{{localize "WOD5E.Tabs.Features"}}</div>
      <div class="item" data-tab="wolf">{{localize "WOD5E.WTA.TheWolf"}}</div>
      <div class="item" data-tab="description">{{localize "WOD5E.Tabs.Description"}}</div>
      <div class="item" data-tab="other">{{localize "WOD5E.Tabs.Other"}}</div>
  </nav>

  {{!-- Werewolf Sheet Body --}}
  <section class="sheet-body">

      {{!-- Stats Tab --}}
      {{> "systems/vtm5e/templates/actor/parts/stats.hbs"}}

      {{!-- Owned Powers Tab --}}
      {{> "systems/vtm5e/templates/actor/parts/werewolf/gifts-rites.hbs"}}

      {{!-- Owned Features Tab --}}
      {{> "systems/vtm5e/templates/actor/parts/features.hbs"}}

      {{!-- Blood Tab --}}
      {{> "systems/vtm5e/templates/actor/parts/werewolf/wolf.hbs"}}

      {{!-- Biography Tab --}}
      {{> "systems/vtm5e/templates/actor/parts/biography.hbs"}}

      {{!-- Other Tab --}}
      {{> "systems/vtm5e/templates/actor/parts/other.hbs"}}

  </section>
</form>
