<div class="tab edges" data-group="primary" data-tab="edges">
    <ol class="items-list">
        <!-- Header of the edges lists -->
        <li class="item flexrow item-header">
            <div class="item-name">{{localize "WOD5E.Name"}}</div>
            <!-- Item controls for adding new edge lists -->
            <div class="item-controls">
                <a class="item-control edge-create item-create" data-type="perk" title="{{localize 'WOD5E.HTR.AddEdge'}}">
                    <i class="fas fa-plus"></i>
                    {{localize "WOD5E.HTR.AddEdge"}}
                </a>
            </div>
        </li>
        <!-- Iterate through each of the edge lists -->
        {{#each actor.system.edgesList as |edge key|}}
            {{#if edge.powers}}
                <div class="collapsible-container">
                    <li class="flexrow item-header">
                        <div class="item-name collapsible">
                            {{localize edge.name}}
                        </div>
                        <!-- Item controls for Edge sections -->
                        <div class="item-controls">
                            <!-- Add new edge perk -->
                            <a class="item-control edge-create item-create" title="{{localize 'WOD5E.HTR.AddPerk'}}" data-type="perk" data-subtype="{{key}}">
                                <i class="fas fa-plus"></i>
                            </a>
                            <!-- Icon to show the edge description to the chat-->
                            <a class="item-control edge-chat" title="{{localize 'WOD5E.ItemsList.ShowToChat'}}" data-type="perk" data-edge="{{key}}">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                        </div>
                    </li>
                    <!-- Edge description -->
                    <div class="collapsible-content">
                        <textarea class="edge-description" name="system.edges.{{key}}.description">{{{edge.enrichedDescription}}}</textarea>
                    </div>
                </div>
                <!-- Iterate through each of the edge perks -->
                {{#each edge.powers as |item id|}}
                    <li class="item flexcol collapsible-container" data-item-id="{{item._id}}">
                        <div class="flexrow">
                            <!-- Whether the button is clickable or not to post the perk in chat -->
                            {{#if item.system.rollable}}
                                <div class="item-image edge-rollable" data-id="{{item._id}}">
                                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" alt="{{item.name}}"/>
                                </div>
                            {{else}}
                                <div class="item-image" data-id="{{item._id}}">
                                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" alt="{{item.name}}"/>
                                </div>
                            {{/if}}
                            <!-- Edge perk name -->
                            <h4 class="item-name collapsible">{{item.name}}</h4>
                            <!-- Item controls for edge perks -->
                            <div class="item-controls">
                                <!-- Icon to edit the perk-->
                                <a class="item-control item-edit" title="{{localize 'WOD5E.Edit'}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <!-- Icon to display the perk in chat -->
                                <a class="item-control item-chat" title="{{localize 'WOD5E.ItemsList.ShowToChat'}}">
                                    <i class="fas fa-comment-alt"></i>
                                </a>
                                <!-- Icon to delete the perk -->
                                <a class="item-control item-delete" title="{{localize 'WOD5E.Delete'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Perk description, expandable by a collapse -->
                        <div class="collapsible-content">
                            {{{item.system.enrichedDescription}}}
                        </div>
                    </li>
                {{/each}}
            {{/if}}
        {{/each}}
    </ol>
</div>
