<div class="tab flex-center" data-group="primary">
    <label class="resource-label">{{localize "WOD5E.SPC.ExceptionalDicePools"}}</label> 
      <div class="item-controls">
        <a class="item-control exceptionalskill-create" title="{{localize 'WOD5E.SPC.AddSkill'}}">
            <i class="fas fa-plus"></i>
            {{localize "WOD5E.SPC.AddSkill"}}
        </a>
      </div>
    <ol class="items-list">
        <!-- Iterate through each of the skill lists -->
        {{#each actor.system.exceptionaldicepools_list as |exceptionalskill key|}}
            {{#if exceptionalskill.visible}}
                <li class="flexrow item-header">
                    <label for="{{exceptionalskill.name}}" class="resource-label rollable" data-absolute-value="{{exceptionalskill.value}}" 
                      data-use-absolute-value="true" data-label="{{exceptionalskill.displayName}}">{{exceptionalskill.displayName}} 
                    </label>
                    <div class="resource-value">
                        <input type="number" name="system.exceptionaldicepools.{{exceptionalskill.id}}.value" 
                        value="{{exceptionalskill.value}}" data-name="system.exceptionaldicepools.{{exceptionalskill.id}}.value" />
                    </div>
                    <!-- Item controls for Exceptional Skill sections -->
                    <div class="item-controls">
                        <!-- Icon to delete the exceptionalskill -->
                        <a class="item-control exceptionalskill-delete" title="{{localize 'WOD5E.Delete'}}" data-exceptionalskill="{{key}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ol>
</div>

