<div class="tab flex-center" data-group="primary">
    <label class="resource-label">{{localize "WOD5E.SPC.StandardDicePools"}}</label>
    <div class="abilities grid grid-3col flex-group-center">
        <!-- Physical Dicepool -->
        <div class="resource-content flexrow flex-center flex-between">
            <label for="Physical" class="resource-label rollable" data-use-absolute-value="true"
                data-absolute-value="{{actor.system.standarddicepools.physical.value}}" data-label="{{localize 'WOD5E.SPC.Physical'}}">{{localize 'WOD5E.SPC.Physical'}} </label>
            <input type="number" name="system.standarddicepools.physical.value" value="{{actor.system.standarddicepools.physical.value}}" data-dtype="Number" />
        </div>

        <!-- Social Dicepool -->
        <div class="resource-content flexrow flex-center flex-between">
            <label for="Social" class="resource-label rollable" data-use-absolute-value="true"
                data-absolute-value="{{actor.system.standarddicepools.social.value}}" data-label="{{localize 'WOD5E.SPC.Social'}}">{{localize 'WOD5E.SPC.Social'}} </label>
            <input type="number" name="system.standarddicepools.social.value" value="{{actor.system.standarddicepools.social.value}}" data-dtype="Number" />
        </div>

        <!-- Mental Dicepool -->
        <div class="resource-content flexrow flex-center flex-between">
            <label for="Mental" class="resource-label rollable" data-use-absolute-value="true"
                data-absolute-value="{{actor.system.standarddicepools.mental.value}}" data-label="{{localize 'WOD5E.SPC.Mental'}}">{{localize 'WOD5E.SPC.Mental'}} </label>
            <input type="number" name="system.standarddicepools.mental.value" value="{{actor.system.standarddicepools.mental.value}}" data-dtype="Number" />
        </div>
    </div>
</div>