<div class="wod5e">
    <header class="flexrow flex-group-left" style="align-items: center;">
        <div class="item-image">
            <img src="{{ img }}" title="{{ name }}" width="36" height="36" alt="{{ name }}" />
        </div>
        <h3 class="item-name" style="line-height: 18px; font-weight: bold; flex: 4 0 0; text-align: center;">{{ name }}</h3>
    </header>
    
    <div class="br-text">
        {{{description}}}
    </div>
</div>
