<option value="strength">{{localize "WOD5E.Attributes.Strength"}}</option>
<option value="dexterity">{{localize "WOD5E.Attributes.Dexterity"}}</option>
<option value="stamina">{{localize "WOD5E.Attributes.Stamina"}}</option>
<option value="charisma">{{localize "WOD5E.Attributes.Charisma"}}</option>
<option value="manipulation">{{localize "WOD5E.Attributes.Manipulation"}}</option>
<option value="composure">{{localize "WOD5E.Attributes.Composure"}}</option>
<option value="intelligence">{{localize "WOD5E.Attributes.Intelligence"}}</option>
<option value="wits">{{localize "WOD5E.Attributes.Wits"}}</option>
<option value="resolve">{{localize "WOD5E.Attributes.Resolve"}}</option>
