<option value="strength">{{localize "WOD5E.Strength"}}</option>
<option value="dexterity">{{localize "WOD5E.Dexterity"}}</option>
<option value="stamina">{{localize "WOD5E.Stamina"}}</option>
<option value="charisma">{{localize "WOD5E.Charisma"}}</option>
<option value="manipulation">{{localize "WOD5E.Manipulation"}}</option>
<option value="composure">{{localize "WOD5E.Composure"}}</option>
<option value="intelligence">{{localize "WOD5E.Intelligence"}}</option>
<option value="wits">{{localize "WOD5E.Wits"}}</option>
<option value="resolve">{{localize "WOD5E.Resolve"}}</option>
