{{!-- Bonuses Tab --}}
<div class="tab bonuses" data-group="primary" data-tab="bonuses">
    <div class="bonuses-list">
        {{#each bonuses as |bonus key|}}
            <div class="bonus" style="margin-top: 5px;">
                <h3>
                    <a class="edit-bonus" title="Edit bonus" data-bonus-path="skills.{{../id}}.bonuses" data-bonus="{{key}}" style="margin-right: 5px; margin-top: 5px; font-size: 13pt;">
                        <i class="fas fa-edit"></i>
                    </a>
                    {{bonus.source}}
                    <a class="delete-bonus" title="Delete bonus" data-bonus-path="skills.{{../id}}.bonuses" data-bonus="{{key}}" style="float: right;">
                        <i class="fas fa-trash"></i>
                    </a>
                </h3>
                <div class="grid grid-2col flex-center">
                    <div class="flexcol">
                        <b>Value</b>
                        <input name="value" type="number" value="{{bonus.value}}" disabled="true"/>
                    </div>
                    <div class="flexcol">
                        <b>Active When</b>
                        <select name="check" type="number">
                            <option value="never"{{#ifeq bonus.activeWhen.check "never"}} selected{{/ifeq}} disabled="true">Never</option>
                            <option value="always"{{#ifeq bonus.activeWhen.check "always"}} selected{{/ifeq}} disabled="true">Always</option>
                            <option value="ifEquals"{{#ifeq bonus.activeWhen.check "ifEquals"}} selected{{/ifeq}} disabled="true">If equals...</option>
                        </select>
                    </div>
                    <b>Display when inactive</b>
                    <input name="displayWhenInactive" type="checkbox"{{#if bonus.displayWhenInactive}} checked{{/if}} disabled="true"/> 
                    {{#ifeq bonus.activeWhen.check 'ifEquals'}}
                        <div>
                            <b>Path</b>
                            <input name="path" type="text" value="{{bonus.activeWhen.path}}" placeholder="Path to check" disabled="true"/>
                        </div>
                        <div>
                            <b>Value</b>
                            <input name="value" type="text" value="{{bonus.activeWhen.value}}" placeholder="Value to check" disabled="true"/>
                        </div>
                    {{/ifeq}}
                </div>
                <div class="flexcol">
                    <b>Paths, separated by semicolons (;)</b>
                    <input name="paths" type="text" value="{{splitArray bonus.paths}}" placeholder="skills.athletics; attributes.strength" disabled="true"/>
                </div>
            </div>
        {{/each}}
    </div>
    <hr>
    <div class="flex-center">
        <b>
            <a class="add-bonus" data-bonus-path="skills.{{id}}.bonuses">Add New Bonus</a>
        </b>
    </div>
</div>