<div class="bonus">
    <h3><input class="no-border" id="bonusSource" type="text" value="{{bonus.source}}" placeholder="{{localize 'WOD5E.Bonus.NewBonus'}}"/></h3>
    <div class="grid grid-3col flex-center">
        <div class="flexcol">
            <b>{{localize "WOD5E.Value"}}</b>
            <input class="input-value" id="bonusValue" type="number" value="{{bonus.value}}"/>
        </div>
        <div>
            <b>{{localize "WOD5E.Bonus.Unless"}}</b>
            <input id="unless" type="text" value="{{bonus.unless}}" placeholder="{{localize 'WOD5E.Bonus.Unless'}}"/>
        </div>
        <div class="flexrow flex-center">
            <input id="displayBonusWhenInactive" type="checkbox"{{#if bonus.displayWhenInactive}} checked{{/if}}>{{localize "WOD5E.Bonus.DisplayWhenInactive"}}</input>
        </div>
    </div>
    <div class="grid grid-3col flex-center">
        <div class="flexcol">
            <b>{{localize "WOD5E.Bonus.ActiveWhen"}}</b>
            <select id="activeWhenCheck">
                <option value="never"{{#ifeq bonus.activeWhen.check "never"}} selected{{/ifeq}}>{{localize "WOD5E.Bonus.Never"}}</option>
                <option value="always"{{#ifeq bonus.activeWhen.check "always"}} selected{{/ifeq}}>{{localize "WOD5E.Bonus.Always"}}</option>
                <option value="isEqual"{{#ifeq bonus.activeWhen.check "isEqual"}} selected{{/ifeq}}>{{localize "WOD5E.Bonus.IfEquals"}}</option>
                <option value="isPath"{{#ifeq bonus.activeWhen.check "isPath"}} selected{{/ifeq}}>{{localize "WOD5E.Bonus.IfPathIs"}}</option>
            </select>
        </div>
        <div style="{{#ifeq bonus.activeWhen.check 'isEqual'}}visibility: visible;{{else}}{{#ifeq bonus.activeWhen.check 'isPath'}}visibility: visible;{{else}}visibility: hidden;{{/ifeq}}{{/ifeq}}">
            <b>{{localize "WOD5E.Bonus.PathToCheck"}}</b>
            <input id="activeWhenPath" type="text" value="{{bonus.activeWhen.path}}" placeholder="{{localize 'WOD5E.Bonus.PathToCheck'}}"/>
        </div>
        <div style="{{#ifeq bonus.activeWhen.check 'isEqual'}}visibility: visible;{{else}}visibility: hidden;{{/ifeq}}">
            <b>{{localize "WOD5E.Bonus.ValueToCheck"}}</b>
            <input id="activeWhenValue" type="text" value="{{bonus.activeWhen.value}}" placeholder="{{localize 'WOD5E.Bonus.ValueToCheck'}}"/>
        </div>
    </div>
    <div class="flexcol">
        <b>{{localize "WOD5E.Bonus.PathsSeparatedBySemicolons"}}</b>
        <input id="bonusPaths" type="text" value="{{splitArray bonus.paths}}" placeholder="skills.athletics; abilities.strength"/>
    </div>
</div>
