{{!-- Bonuses Tab --}}
<div class="tab bonuses" data-group="primary" data-tab="bonuses">
    <div class="bonuses-list">
        {{#each bonuses as |bonus key|}}
            <div class="bonus" style="margin-top: 5px;">
                <h3>
                    <a class="edit-bonus" title="Edit bonus" data-bonus-path="skills.{{../id}}.bonuses" data-bonus="{{key}}" style="margin-right: 5px; margin-top: 5px; font-size: 13pt;">
                        <i class="fas fa-edit"></i>
                    </a>
                    {{bonus.source}}
                    <a class="delete-bonus" title="Delete bonus" data-bonus-path="skills.{{../id}}.bonuses" data-bonus="{{key}}" style="float: right;">
                        <i class="fas fa-trash"></i>
                    </a>
                </h3>
                <div class="grid grid-3col flex-center">
                    <div class="flexcol flex-center">
                        <b>{{localize "WOD5E.Value"}}</b>
                        <input name="value" type="number" value="{{bonus.value}}" disabled="true"/>
                    </div>
                    <div>
                        <b>{{localize "WOD5E.Bonus.Unless"}}</b>
                        <input name="path" type="text" value="{{bonus.unless}}" placeholder="{{localize 'WOD5E.Bonus.Unless'}}" disabled="true"/>
                    </div>
                    <div class="flexcol flex-center">
                        <b>{{localize "WOD5E.Bonus.DisplayWhenInactive"}}</b>
                        <input name="displayWhenInactive" type="checkbox"{{#if bonus.displayWhenInactive}} checked{{/if}} disabled="true"/>
                    </div>
                </div>
                <div class="grid grid-3col flex-center">
                    <div class="flexcol">
                        <b>{{localize "WOD5E.Bonus.ActiveWhen"}}</b>
                        <select name="check" type="number">
                            <option value="never"{{#ifeq bonus.activeWhen.check "never"}} selected{{/ifeq}} disabled="true">{{localize 'WOD5E.Bonus.Never'}}</option>
                            <option value="always"{{#ifeq bonus.activeWhen.check "always"}} selected{{/ifeq}} disabled="true">{{localize 'WOD5E.Bonus.Always'}}</option>
                            <option value="isEqual"{{#ifeq bonus.activeWhen.check "isEqual"}} selected{{/ifeq}} disabled="true">{{localize 'WOD5E.Bonus.IfEquals'}}</option>
                            <option value="isPath"{{#ifeq bonus.activeWhen.check "isPath"}} selected{{/ifeq}} disabled="true">{{localize 'WOD5E.Bonus.IfPathIs'}}</option>
                        </select>
                    </div>
                    {{#ifeq bonus.activeWhen.check 'isEqual'}}
                        <div>
                            <b>{{localize "WOD5E.Bonus.PathToCheck"}}</b>
                            <input name="path" type="text" value="{{bonus.activeWhen.path}}" placeholder="{{localize 'WOD5E.Bonus.PathToCheck'}}" disabled="true"/>
                        </div>
                        <div>
                            <b>{{localize "WOD5E.Bonus.ValueToCheck"}}</b>
                            <input name="value" type="text" value="{{bonus.activeWhen.value}}" placeholder="{{localize 'WOD5E.Bonus.ValueToCheck'}}" disabled="true"/>
                        </div>
                    {{else if (eq bonus.activeWhen.check "isPath")}}
                        <div>
                            <b>{{localize "WOD5E.Bonus.PathToCheck"}}</b>
                            <input name="path" type="text" value="{{bonus.activeWhen.path}}" placeholder="{{localize 'WOD5E.Bonus.PathToCheck'}}" disabled="true"/>
                        </div>
                    {{/ifeq}}
                </div>
                <div class="flexcol">
                    <b>{{localize "WOD5E.Bonus.PathsSeparatedBySemicolons"}}</b>
                    <input name="paths" type="text" value="{{splitArray bonus.paths}}" placeholder="skills.athletics; abilities.strength" disabled="true"/>
                </div>
            </div>
        {{/each}}
    </div>
    <hr>
    <div class="flex-center">
        <b>
            <a class="add-bonus" data-skill="{{id}}" data-bonus-path="skills.{{id}}.bonuses">{{localize "WOD5E.Bonus.AddNewBonus"}}</a>
        </b>
    </div>
</div>
