<option value="animalism">{{localize "WOD5E.VTM.Animalism"}}</option>
<option value="auspex">{{localize "WOD5E.VTM.Auspex"}}</option>
<option value="celerity">{{localize "WOD5E.VTM.Celerity"}}</option>
<option value="dominate">{{localize "WOD5E.VTM.Dominate"}}</option>
<option value="fortitude">{{localize "WOD5E.VTM.Fortitude"}}</option>
<option value="obfuscate">{{localize "WOD5E.VTM.Obfuscate"}}</option>
<option value="potence">{{localize "WOD5E.VTM.Potence"}}</option>
<option value="presence">{{localize "WOD5E.VTM.Presence"}}</option>
<option value="protean">{{localize "WOD5E.VTM.Protean"}}</option>
<option value="sorcery">{{localize "WOD5E.VTM.BloodSorcery"}}</option>
<option value="oblivion">{{localize "WOD5E.VTM.Oblivion"}}</option>
<option value="alchemy">{{localize "WOD5E.VTM.ThinBloodAlchemy"}}</option>
<option value="rituals">{{localize "WOD5E.VTM.Rituals"}}</option>
<option value="ceremonies">{{localize "WOD5E.VTM.Ceremonies"}}</option>