<option value="arsenal">{{localize "WOD5E.HTR.Arsenal"}}</option>
<option value="fleet">{{localize "WOD5E.HTR.Fleet"}}</option>
<option value="ordnance">{{localize "WOD5E.HTR.Ordnance"}}</option>
<option value="library">{{localize "WOD5E.HTR.Library"}}</option>
<option value="improvisedgear">{{localize "WOD5E.HTR.ImprovisedGear"}}</option>
<option value="globalaccess">{{localize "WOD5E.HTR.GlobalAccess"}}</option>
<option value="dronejockey">{{localize "WOD5E.HTR.DroneJockey"}}</option>
<option value="beastwhisperer">{{localize "WOD5E.HTR.BeastWhisperer"}}</option>
<option value="sensetheunnatural">{{localize "WOD5E.HTR.SenseTheUnnatural"}}</option>
<option value="repeltheunnatural">{{localize "WOD5E.HTR.RepelTheUnnatural"}}</option>
<option value="thwarttheunnatural">{{localize "WOD5E.HTR.ThwartTheUnnatural"}}</option>
<option value="artifact">{{localize "WOD5E.HTR.Artifact"}}</option>