<option value="arsenal">{{localize "WOD5E.Arsenal"}}</option>
<option value="fleet">{{localize "WOD5E.Fleet"}}</option>
<option value="ordnance">{{localize "WOD5E.Ordnance"}}</option>
<option value="library">{{localize "WOD5E.Library"}}</option>
<option value="improvisedgear">{{localize "WOD5E.ImprovisedGear"}}</option>
<option value="globalaccess">{{localize "WOD5E.GlobalAccess"}}</option>
<option value="dronejockey">{{localize "WOD5E.DroneJockey"}}</option>
<option value="beastwhisperer">{{localize "WOD5E.BeastWhisperer"}}</option>
<option value="sensetheunnatural">{{localize "WOD5E.SenseTheUnnatural"}}</option>
<option value="repeltheunnatural">{{localize "WOD5E.RepelTheUnnatural"}}</option>
<option value="thwarttheunnatural">{{localize "WOD5E.ThwartTheUnnatural"}}</option>
<option value="artifact">{{localize "WOD5E.Artifact"}}</option>