<option value="native">{{localize "WOD5E.WTA.Native"}}</option>
<option value="rite">{{localize "WOD5E.WTA.Rite"}}</option>
<option value="ragabash">{{localize "WOD5E.WTA.Ragabash"}}</option>
<option value="theurge">{{localize "WOD5E.WTA.Theurge"}}</option>
<option value="philodox">{{localize "WOD5E.WTA.Philodox"}}</option>
<option value="galliard">{{localize "WOD5E.WTA.Galliard"}}</option>
<option value="ahroun">{{localize "WOD5E.WTA.Ahroun"}}</option>
<option value="blackfury">{{localize "WOD5E.WTA.BlackFury"}}</option>
<option value="bonegnawer">{{localize "WOD5E.WTA.BoneGnawer"}}</option>
<option value="childrenofgaia">{{localize "WOD5E.WTA.ChildrenOfGaia"}}</option>
<option value="galestalker">{{localize "WOD5E.WTA.Galestalker"}}</option>
<option value="ghostcouncil">{{localize "WOD5E.WTA.GhostCouncil"}}</option>
<option value="glasswalker">{{localize "WOD5E.WTA.GlassWalker"}}</option>
<option value="hartwarden">{{localize "WOD5E.WTA.HartWarden"}}</option>
<option value="redtalon">{{localize "WOD5E.WTA.RedTalon"}}</option>
<option value="shadowlord">{{localize "WOD5E.WTA.ShadowLord"}}</option>
<option value="silentstrider">{{localize "WOD5E.WTA.SilentStrider"}}</option>
<option value="silverfang">{{localize "WOD5E.WTA.SilverFang"}}</option>