<option value="academics">{{localize "WOD5E.Skills.Academics"}}</option>
<option value="animalken">{{localize "WOD5E.Skills.AnimalKen"}}</option>
<option value="athletics">{{localize "WOD5E.Skills.Athletics"}}</option>
<option value="awareness">{{localize "WOD5E.Skills.Awareness"}}</option>
<option value="brawl">{{localize "WOD5E.Skills.Brawl"}}</option>
<option value="craft">{{localize "WOD5E.Skills.Craft"}}</option>
<option value="drive">{{localize "WOD5E.Skills.Drive"}}</option>
<option value="etiquette">{{localize "WOD5E.Skills.Etiquette"}}</option>
<option value="finance">{{localize "WOD5E.Skills.Finance"}}</option>
<option value="firearms">{{localize "WOD5E.Skills.Firearms"}}</option>
<option value="insight">{{localize "WOD5E.Skills.Insight"}}</option>
<option value="intimidation">{{localize "WOD5E.Skills.Intimidation"}}</option>
<option value="investigation">{{localize "WOD5E.Skills.Investigation"}}</option>
<option value="larceny">{{localize "WOD5E.Skills.Larceny"}}</option>
<option value="leadership">{{localize "WOD5E.Skills.Leadership"}}</option>
<option value="medicine">{{localize "WOD5E.Skills.Medicine"}}</option>
<option value="melee">{{localize "WOD5E.Skills.Melee"}}</option>
<option value="occult">{{localize "WOD5E.Skills.Occult"}}</option>
<option value="performance">{{localize "WOD5E.Skills.Performance"}}</option>
<option value="persuasion">{{localize "WOD5E.Skills.Persuasion"}}</option>
<option value="politics">{{localize "WOD5E.Skills.Politics"}}</option>
<option value="science">{{localize "WOD5E.Skills.Science"}}</option>
<option value="stealth">{{localize "WOD5E.Skills.Stealth"}}</option>
<option value="streetwise">{{localize "WOD5E.Skills.Streetwise"}}</option>
<option value="subterfuge">{{localize "WOD5E.Skills.Subterfuge"}}</option>
<option value="survival">{{localize "WOD5E.Skills.Survival"}}</option>
<option value="technology">{{localize "WOD5E.Skills.Technology"}}</option>
