<option value="academics">{{localize "WOD5E.Academics"}}</option>
<option value="animal ken">{{localize "WOD5E.AnimalKen"}}</option>
<option value="athletics">{{localize "WOD5E.Athletics"}}</option>
<option value="awareness">{{localize "WOD5E.Awareness"}}</option>
<option value="brawl">{{localize "WOD5E.Brawl"}}</option>
<option value="craft">{{localize "WOD5E.Craft"}}</option>
<option value="drive">{{localize "WOD5E.Drive"}}</option>
<option value="etiquette">{{localize "WOD5E.Etiquette"}}</option>
<option value="finance">{{localize "WOD5E.Finance"}}</option>
<option value="firearms">{{localize "WOD5E.Firearms"}}</option>
<option value="insight">{{localize "WOD5E.Insight"}}</option>
<option value="intimidation">{{localize "WOD5E.Intimidation"}}</option>
<option value="investigation">{{localize "WOD5E.Investigation"}}</option>
<option value="larceny">{{localize "WOD5E.Larceny"}}</option>
<option value="leadership">{{localize "WOD5E.Leadership"}}</option>
<option value="medicine">{{localize "WOD5E.Medicine"}}</option>
<option value="melee">{{localize "WOD5E.Melee"}}</option>
<option value="occult">{{localize "WOD5E.Occult"}}</option>
<option value="performance">{{localize "WOD5E.Performance"}}</option>
<option value="persuasion">{{localize "WOD5E.Persuasion"}}</option>
<option value="politics">{{localize "WOD5E.Politics"}}</option>
<option value="science">{{localize "WOD5E.Science"}}</option>
<option value="stealth">{{localize "WOD5E.Stealth"}}</option>
<option value="streetwise">{{localize "WOD5E.Streetwise"}}</option>
<option value="subterfuge">{{localize "WOD5E.Subterfuge"}}</option>
<option value="survival">{{localize "WOD5E.Survival"}}</option>
<option value="technology">{{localize "WOD5E.Technology"}}</option>
