<div class="tab" data-group="primary" data-tab="description">
  <div class="resource flexrow grid grid-2col">
      <div class="flex-group-center no-border">
          <label class="resource-label">{{localize "WOD5E.BiographyList.Concept"}}</label>
          <input type="text" name="system.headers.concept" value="{{actor.system.headers.concept}}" placeholder="{{localize 'WOD5E.BiographyList.Concept'}}" />
      </div>
      <div class="flex-group-center no-border">
          <label class="resource-label">{{localize "WOD5E.BiographyList.Chronicle"}}</label>
          <input type="text" name="system.headers.chronicle" value="{{actor.system.headers.chronicle}}" placeholder="{{localize 'WOD5E.BiographyList.Chronicle'}}" />
      </div>
  </div>
  <label class="resource-label flex-center">{{localize "WOD5E.BiographyList.History"}}</label>
  <div class="description-content">
      {{editor enrichedBiography target="system.biography" button=true editable=editable}}
  </div>
</div>
