<form class="dialog-contents">
  <div class="selectors-group">
    {{#unless (or skill attribute)}}
      <!-- Unless a skill/attribute is already selected, show skill selection -->
      <div class="primary-selector">
        <div class="selector-sitle">
          {{localize "WOD5E.Skills.Label"}}
        </div>
        <div class="selector-content">
          <select id="skillSelect">
            <option value="">None</option>
            {{> "systems/vtm5e/templates/item/parts/skills.hbs"}}
          </select>
        </div>
      </div>
    {{else}}
      <!-- If a skill/attribute is already selected, present it as a numerical value -->
      <div class="primary-selector">
        {{#if skill}}
          <div class="selector-title">
            {{localize "WOD5E.Skills.Label"}}
          </div>
          <div class="selector-content">
            {{localize (generateLocalizedLabel skill)}}
          </div>
        {{else if attribute}}
          <div class="selector-title">
            {{localize "WOD5E.Attributes.Label"}}
          </div>
          <div class="selector-content">
            {{localize (generateLocalizedLabel attribute)}}
          </div>
        {{/if}}
      </div>
    {{/unless}}

    <div class="middle">+</div>

    <!-- Attribute selection -->
    <div class="primary-selector">
        <div class="selector-title">
          {{localize "WOD5E.Attributes.Label"}}
        </div>
        <div class="selector-content">
          <select id="attributeSelect">
            <option value="">None</option>
            {{> "systems/vtm5e/templates/item/parts/attributes.hbs"}}
          </select>
        </div>
    </div>
  </div>

  <!-- If the actor is a vampire, show option to add Discipline dots -->
  {{#ifeq system "vampire"}}
    <div class="secondary-selector">
      <div>Add Discipline:</div>
      <select id="disciplineSelect">
        <option value="">None</option>
        {{> "systems/vtm5e/templates/item/parts/disciplines.hbs"}}
      </select>
    </div>
  {{/ifeq}}

  <!-- If the actor is a werewolf, show option to add Renown dots-->
  {{#ifeq system "werewolf"}}
    <div class="secondary-selector">
      <div>Add Renown:</div>
      <select id="renownSelect">
        <option value="">None</option>
        {{> "systems/vtm5e/templates/item/parts/renown.hbs"}}
      </select>
    </div>
  {{/ifeq}}
</form>