<form autocomplete="off" class="wod5e-config-form storyteller-menu">
  <div class="config-category">
    <h2>Modified Attributes</h2>
    <div class="subcategory">
      <p class="notes">Allows the storyteller to modify the attributes on actor sheets.</p>
      <div class="grid grid-3col">
        <div class="mod-header">Attribute</div>
        <div class="mod-header">Rename</div>
        <div class="mod-header">Hidden</div>
      </div>
      {{#each attributeModifications as |attribute id|}}
        <div class="modification-row grid grid-3col" data-type="attribute" data-id="{{attribute.id}}" data-label="{{attribute.label}}">
          <div class="mod-label">{{attribute.label}}</div>
          <input type="text" class="mod-rename" placeholder="{{attribute.label}}" value="{{attribute.rename}}">
          <input type="checkbox" class="mod-hidden"{{#if skill.hidden}} checked{{/if}}/>
        </div>
      {{/each}}
      <div class="mod-footer">
        <hr>
        <div class="add-mod-button" data-type="attribute">Add Attribute Modification</div>
      </div>
    </div>
  </div>
  <div class="config-category">
    <h2>Modified Skills</h2>
    <div class="subcategory">
      <p class="notes">Allows the storyteller to modify the skills on actor sheets.</p>
      <div class="grid grid-3col">
        <div class="mod-header">Skill</div>
        <div class="mod-header">Rename</div>
        <div class="mod-header">Hidden</div>
      </div>
      {{#each skillModifications as |skill id|}}
        <div class="modification-row grid grid-3col" data-type="skill" data-id="{{skill.id}}" data-label="{{skill.label}}">
          <div class="mod-label">{{skill.label}}</div>
          <input type="text" class="mod-rename" placeholder="{{skill.label}}" value="{{skill.rename}}">
          <input type="checkbox" data-type="skill" class="mod-hidden"{{#if skill.hidden}} checked{{/if}}/>
        </div>
      {{/each}}
      <div class="mod-footer">
        <hr>
        <div class="add-mod-button" data-type="skill">Add Skill Modification</div>
      </div>
    </div>
  </div>
  <div>
    <button class="save-modifications">Save Modifications</button>
  </div>
</form>