<section class="dice-tray">
    <div class="dice-tray-character">
        {{> "systems/vtm5e/templates/ui/parts/select-character.hbs"}}
    </div>
    <div class="dice-tray-custom-rolls">
        <div>
            {{#if (eq pool1Type "abilities")}}
                {{> "systems/vtm5e/templates/ui/parts/pool1-select-attribute.hbs"}}
            {{else if (eq pool1Type "skills")}}
                {{> "systems/vtm5e/templates/ui/parts/pool1-select-skill.hbs"}}
            {{else if (eq pool1Type "disciplines")}}
                {{> "systems/vtm5e/templates/ui/parts/pool1-select-discipline.hbs"}}
            {{/if}}
        </div>
        <span class="dice-tray-concatenate">+</span>
        <div>
            {{#if (eq pool2Type "abilities")}}
                {{> "systems/vtm5e/templates/ui/parts/pool2-select-attribute.hbs"}}
            {{else if (eq pool2Type "skills")}}
                {{> "systems/vtm5e/templates/ui/parts/pool2-select-skill.hbs"}}
            {{else if (eq pool2Type "disciplines")}}
                {{> "systems/vtm5e/templates/ui/parts/pool2-select-discipline.hbs"}}
            {{else if (eq pool2Type "nothing")}}
                {{> "systems/vtm5e/templates/ui/parts/pool2-nothing.hbs"}}
            {{/if}}
        </div>
        <button class="dice-tray-button roll-button" title="{{localize 'WOD5E.Roll.Label'}}">
            <img class="roll-image" alt="{{localize 'WOD5E.Roll.Label'}}" src="/systems/vtm5e/assets/images/dice.svg" />
        </button>
        {{text value=pool1Selection}}
        <div class="dice-tray-pool-filters flexrow pool1-filters">
            <button class="dice-tray-button small-button" title="{{localize 'WOD5E.Attributes'}}">
                <input type="radio" id="pool1Attr" name="pool1Type" value="abilities" {{attrIf "checked" pool1Type 'abilities' }} />
                <label for="pool1Attr">{{localize 'WOD5E.AttributeShortLabel'}}</label>
            </button>
            <button class="dice-tray-button small-button" title="{{localize 'WOD5E.Skills.Skills'}}">
                <input type="radio" id="pool1Skill" name="pool1Type" value="skills" {{attrIf "checked" pool1Type 'skills' }} />
                <label for="pool1Skill">{{localize 'WOD5E.SkillShortLabel'}}</label>
            </button>
            <button class="dice-tray-button small-button" title="{{localize 'WOD5E.Disciplines'}}">
                <input type="radio" id="pool1Disc" name="pool1Type" value="disciplines" {{attrIf "checked" pool1Type 'disciplines' }} />
                <label for="pool1Disc">{{localize 'WOD5E.DisciplineShortLabel'}}</label>
            </button>
            <div class="dice-tray-filter-spacer"></div>
        </div>
        <div class="dice-tray-pool-filters flexrow pool2-filters">
            <button class="dice-tray-button small-button" title="{{localize 'WOD5E.Attributes'}}">
                <input type="radio" id="pool2Attr" name="pool2Type" value="abilities" {{attrIf "checked" pool2Type 'abilities' }} />
                <label for="pool2Attr">{{localize 'WOD5E.AttributeShortLabel'}}</label>
            </button>
            <button class="dice-tray-button small-button" title="{{localize 'WOD5E.Skills.Skills'}}">
                <input type="radio" id="pool2Skill" name="pool2Type" value="skills" {{attrIf "checked" pool2Type 'skills' }} />
                <label for="pool2Skill">{{localize 'WOD5E.SkillShortLabel'}}</label>
            </button>
            <button class="dice-tray-button small-button" title="{{localize 'WOD5E.Disciplines'}}">
                <input type="radio" id="pool2Disc" name="pool2Type" value="disciplines" {{attrIf "checked" pool2Type 'disciplines' }} />
                <label for="pool2Disc">{{localize 'WOD5E.DisciplineShortLabel'}}</label>
            </button>
            <button class="dice-tray-button small-button" title="{{localize 'WOD5E.None'}}">
                <input type="radio" id="pool2None" name="pool2Type" value="nothing" {{attrIf "checked" pool2Type 'nothing' }} />
                <label for="pool2None">{{localize 'WOD5E.NothingShortLabel'}}</label>
            </button>
        </div>
    </div>
    <div class="dice-tray-preset-rolls flexrow">
        <button class="dice-tray-button" data="rollRouse" title="{{localize 'WOD5E.RollRouse'}}">
            {{localize 'WOD5E.Rouse'}}
        </button>
        <button class="dice-tray-button" data="rollWill" title="{{localize 'WOD5E.RollWillpower'}}">
            {{localize 'WOD5E.Willpower'}}
        </button>
        <button class="dice-tray-button" data="rollFrenzy" title="{{localize 'WOD5E.RollFrenzy'}}">
            {{localize 'WOD5E.VTM.Frenzy'}}
        </button>
        <button class="dice-tray-button" data="rollHumanity" title="{{localize 'WOD5E.RollRemorse'}}">
            {{localize 'WOD5E.Remorse'}}
        </button>
    </div>
</section>