<form class="{{cssClass}}" autocomplete="off">
    <header class="item-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="Item Image" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "WOD5E.Tabs.Description"}}</a>
        <a class="item" data-tab="attributes">{{localize "WOD5E.AttributesList.Attributes"}}</a>
        <a class="item" data-tab="macro">{{localize "WOD5E.ItemsList.Macro"}}</a>
        <a class="item" data-tab="bonuses">{{localize "WOD5E.ItemsList.Bonuses"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true editable=editable}}
        </div>

        {{!-- Macro Tab --}}
        {{> "systems/vtm5e/templates/item/parts/macro.hbs"}}

        {{!-- Bonuses Tab --}}
        {{> "systems/vtm5e/templates/item/parts/bonuses.hbs"}}
    </section>
</form>
